<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tic.app.mapper.RsvMapper">
	
	<select id="selectCountNumber" resultType="Integer">
		SELECT COUNT(PHONE_NUMBER) AS CHK_EXIST
		  FROM RESERVATION
		 WHERE 1=1
		   AND PHONE_NUMBER = #{PHONE_NUMBER}
	</select>

	<select id="selectNumber" resultType="hashmap">
		SELECT PHONE_NUMBER
		  FROM RESERVATION
		 WHERE PHONE_NUMBER = #{PHONE_NUMBER}
	</select>

	<insert id="insertNumber" parameterType="hashmap">
		INSERT INTO RESERVATION (
			 PHONE_NUMBER
		) VALUES (
			 #{PHONE_NUMBER}
		)
	</insert>
</mapper>